.tileListBusyIndicator {
    transition: all .3s;
    height: 66px;
    left: 50%;
    margin-left: -33px;
    perspective: 100px;
    pointer-events: none;
    position: relative;
    top: 0;
    width: 66px;
}

@media only screen and (max-width: 568px) {
    .tileListBusyIndicator {
        bottom: 12px;
    }
}

.loaded .tileListBusyIndicator {
    opacity: 0;
}

.tileListBusyIndicator > span {
    background-color: #b5b9bd;
    height: 15px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.tileListBusyIndicator > span {
    animation: tileListBusyIndicatorBounce1 3.5s ease;
    animation-iteration-count: infinite;
}

    .tileListBusyIndicator > span:nth-child(1) {
        animation-delay: .7s;
        animation-name: tileListBusyIndicatorBounce4;
        border-top-left-radius: 2px;
    }

    .tileListBusyIndicator > span:nth-child(2) {
        animation-delay: .4s;
        animation-name: tileListBusyIndicatorBounce3;
        height: 37px;
        left: 23px;
    }

    .tileListBusyIndicator > span:nth-child(3) {
        animation-delay: .6s;
        animation-name: tileListBusyIndicatorBounce3;
        border-top-right-radius: 2px;
        height: 19px;
        left: 46px;
    }

    .tileListBusyIndicator > span:nth-child(4) {
        animation-delay: .5s;
        animation-name: tileListBusyIndicatorBounce3;
        height: 11px;
        left: 46px;
        top: 22px;
    }

    .tileListBusyIndicator > span:nth-child(5) {
        animation-delay: .2s;
        border-bottom-right-radius: 2px;
        height: 30px;
        left: 46px;
        top: 36px;
    }

    .tileListBusyIndicator > span:nth-child(6) {
        animation-delay: .1s;
        height: 26px;
        left: 23px;
        top: 40px;
    }

    .tileListBusyIndicator > span:nth-child(7) {
        border-bottom-left-radius: 2px;
        top: 51px;
    }

    .tileListBusyIndicator > span:nth-child(8) {
        animation-delay: .3s;
        animation-name: tileListBusyIndicatorBounce2;
        height: 30px;
        top: 18px;
    }

@keyframes tileListBusyIndicatorBounce1 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    12% {
        opacity: 1;
        transform: translateY(2px);
    }

    18% {
        opacity: 1;
        transform: translateY(0);
    }

    66% {
        transform: translateY(0);
    }

    72% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-3px);
    }

    80% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes tileListBusyIndicatorBounce2 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    12% {
        opacity: 1;
        transform: translateY(2px);
    }

    18% {
        opacity: 1;
        transform: translateY(0);
    }

    66% {
        transform: translateY(0);
    }

    72% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-3px);
    }

    84% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 0;
        transform: translateY(25px);
    }
}

@keyframes tileListBusyIndicatorBounce3 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    12% {
        opacity: 1;
        transform: translateY(2px);
    }

    18% {
        opacity: 1;
        transform: translateY(0);
    }

    66% {
        transform: translateY(0);
    }

    72% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-3px);
    }

    84% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes tileListBusyIndicatorBounce4 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    12% {
        opacity: 1;
        transform: translateY(2px);
    }

    18% {
        opacity: 1;
        transform: translateY(0);
    }

    66% {
        transform: translateY(0);
    }

    72% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-3px);
    }

    84% {
        opacity: 0;
        transform: translateY(46px);
    }

    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}

#grid {
    margin-bottom: 1.5625em;
    margin-right: -1.5625em;
}

    #grid.loaded .gridItem:nth-child(1) .gridItemInner {
        animation: gridItemAnimation .5s .1s both;
    }

    #grid.loaded .gridItem:nth-child(2) .gridItemInner {
        animation: gridItemAnimation .5s .2s both;
    }

    #grid.loaded .gridItem:nth-child(3) .gridItemInner {
        animation: gridItemAnimation .5s .3s both;
    }

    #grid.loaded .gridItem:nth-child(4) .gridItemInner {
        animation: gridItemAnimation .5s .4s both;
    }

    #grid.loaded .gridItem:nth-child(5) .gridItemInner {
        animation: gridItemAnimation .5s .5s both;
    }

    #grid.loaded .gridItem:nth-child(6) .gridItemInner {
        animation: gridItemAnimation .5s .6s both;
    }

    #grid.loaded .gridItem:nth-child(7) .gridItemInner {
        animation: gridItemAnimation .5s .7s both;
    }

    #grid.loaded .gridItem:nth-child(8) .gridItemInner {
        animation: gridItemAnimation .5s .8s both;
    }

    #grid.loaded .gridItem:nth-child(9) .gridItemInner {
        animation: gridItemAnimation .5s .9s both;
    }

    #grid.loaded .gridItem:nth-child(10) .gridItemInner {
        animation: gridItemAnimation .5s 1s both;
    }

    #grid.loaded .gridItem:nth-child(11) .gridItemInner {
        animation: gridItemAnimation .5s 1.1s both;
    }

    #grid.loaded .gridItem:nth-child(12) .gridItemInner {
        animation: gridItemAnimation .5s 1.2s both;
    }

    #grid.loaded .gridItem:nth-child(13) .gridItemInner {
        animation: gridItemAnimation .5s 1.3s both;
    }

    #grid.loaded .gridItem:nth-child(14) .gridItemInner {
        animation: gridItemAnimation .5s 1.4s both;
    }

    #grid.loaded .gridItem:nth-child(15) .gridItemInner {
        animation: gridItemAnimation .5s 1.5s both;
    }

    #grid.loaded .gridItem:nth-child(n+16) .gridItemInner {
        animation: gridItemAnimation .5s 1.6s both;
    }

    #grid.gridHomepage .gridItem {
        width: 25%;
    }

@media only screen and (max-width: 999px) {
    #grid.gridHomepage .gridItem {
        width: 33.33%;
    }
}

@media only screen and (max-width: 568px) {
    #grid.gridHomepage .gridItem {
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    #grid.gridHomepage .gridItem {
        width: 100%;
    }
}

#grid.gridRelated .gridItem {
    width: 33.33%;
}

@media only screen and (max-width: 568px) {
    #grid.gridRelated .gridItem {
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    #grid.gridRelated .gridItem {
        width: 100%;
    }
}

#grid .gridItem {
    padding-right: 1.5625em;
    margin-bottom: 1.5em;
}

#grid .gridItemInner {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transform: translate3d(0, -20px, 0);
    opacity: 0;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .08);
}

@keyframes gridItemAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.nav menu {
    padding: 0;
    margin: 0;
}

.nav {
    background: rgba(0, 0, 0, .08);
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

    .nav menu {
        color: #fff;
        height: 50px;
        z-index: 10;
        margin: 0;
    }

    .nav li {
        text-align: right;
        display: inline-block;
        margin: 15px 0 15px 1em;
    }

    .nav a,
    .nav a:visited {
        border-radius: 5px;
        color: #fff;
        padding: 6px 8px;
        text-decoration: none;
        transition: all .15s linear;
        font-weight: 400;
    }

        .nav a:hover {
            background: #00c4cc;
            color: #fff;
        }

@media screen and (max-width: 600px) {
    .nav {
        bottom: 0;
        position: absolute;
    }
}

.dropdownMenu {
    background-color: rgba(63, 70, 82, .75);
    border-radius: 5px;
    bottom: 100%;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 2em;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 100;
}

.hover .dropdownMenu {
    animation: dropdownAppearing .3s ease forwards;
    pointer-events: auto;
}

@keyframes dropdownAppearing {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hoverOff .dropdownMenu {
    animation: fadeOut .3s ease forwards;
}

.dropdownMenu:before {
    border: 12px solid transparent;
    border-top-color: rgba(63, 70, 82, .75);
    bottom: -24px;
    box-sizing: border-box;
    content: '';
    height: 12px;
    left: calc(50% + 1em);
    position: absolute;
    width: 12px;
    z-index: -1;
}

li.dropdown {
    position: relative;
}

.dropdownMenu li {
    display: block;
    margin: 0;
}

.dropdownMenu a,
.dropdownMenu a:visited {
    border-radius: 0;
    color: #fff;
    display: block;
    font-weight: 400;
    line-height: 2;
    padding: .2em 1.2em;
    text-align: right;
    transition: none;
    white-space: nowrap;
    box-sizing: border-box;
}

    .dropdownMenu a:hover {
        background-color: #00c4cc;
        color: #fff;
        opacity: 1;
    }

* {
    box-sizing: border-box;
}

.navigationMenu__items {
    list-style: none;
    display: none;
}

.navigationMenu__items--desktopEnabled {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}

.navigationMenu__label,
.navigationMenu__label:hover,
.navigationMenu__label:visited {
    background: none;
    font-size: 14px;
    display: inline-block;
    color: rgba(255, 255, 255, .8);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.navigationMenuMobile__overlay {
    background: rgba(41, 45, 53, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: .4s opacity;
}

.navigationMenuMobile__overlay--open {
    opacity: 1;
    pointer-events: auto;
}

.navigationMenuMobile__button {
    display: none;
    color: white;
    font-size: 14px;
    border: 1px solid #b5b9bd;
    padding: 10px 14px;
    border-radius: 2px;
    margin: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.navigationMenuMobile__button--mobileEnabled {
    display: block;
}

.navigationMenuMobile__items {
    box-sizing: border-box;
    font-size: 16px;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 90%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 4px 24px 24px;
    background: #292d35;
    transform: translateX(0);
    z-index: 1000;
    -ms-flex-flow: column;
    flex-flow: column;
    transition: .3s all;
}

.navigationMenuMobile__items--open {
    transform: translateX(-100%);
}

.navigationMenuMobile__items--mobileEnabled {
    display: -ms-flexbox;
    display: flex;
}

.navigationMenuMobile__wrapper {
    position: relative;
}

.navigationMenuMobile__label,
.navigationMenuMobile__label:visited {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.navigationMenuMobile__label {
    transition: .3s all;
}

.navigationMenuMobile__label--hidden {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
}

.navigationMenuMobile__label--noAnimation {
    transition: none;
}

.navigationMenuMobile__content {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 1;
    transform: translateX(0);
    transition: .3s all;
}

.navigationMenuMobile__content--hidden {
    opacity: 0;
    transform: translateX(100%) translateX(25px);
    pointer-events: none;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.navigationMenuMobile__content--noAnimation {
    transition: none;
}

.navigationMenuMobile__content--topLevel {
    top: 20px;
}

.navigationMenuMobile__contentItem {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
}

.navigationMenuMobile__label--goUp,
.navigationMenuMobile__label--goUp:visited {
    margin-top: -5px;
    padding: 12px 0 12px 16px;
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(255, 255, 255, .4);
    box-sizing: border-box;
}

    .navigationMenuMobile__label--goUp:after {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 100;
        left: 0;
        margin-top: -4px;
        height: 0;
        width: 0;
        border: 4px solid transparent;
        border-right-color: rgba(255, 255, 255, .4);
    }

.navigationMenuMobile__label--hasChildren {
    will-change: transform;
}

    .navigationMenuMobile__label--hasChildren:after {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 100;
        right: 0;
        margin-top: -4px;
        height: 0;
        width: 0;
        border: 4px solid transparent;
        border-left-color: #888fa0;
        opacity: 1;
        transition: .2s opacity;
    }

.navigationMenuMobile__label--hidden:after {
    opacity: 0;
}

.navigationMenuMobile__signupButton {
    display: none;
    background-color: #99c432;
    color: #fff;
    width: 100%;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    background-clip: border-box;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

    .navigationMenuMobile__signupButton:hover {
        background-color: #9fc14e;
    }

.navigationMenuDropdown {
    position: relative;
    display: block;
}

.navigationMenuDropdown__content {
    display: none;
    position: absolute;
    left: 50%;
    padding: 0;
    margin-top: 15px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .25);
    list-style: none;
    transition: opacity .3s ease, top .2s ease, bottom .2s ease;
    white-space: nowrap;
    box-sizing: border-box;
}

.navigationMenuDropdown__content--displayBelowAnchor {
    bottom: 13px;
    transform: translate(-50%, 0);
}

.navigationMenuDropdown__content--displayAboveAnchor {
    top: 9px;
    margin-top: 0;
    transform: translate(-50%, -100%);
}

.navigationMenuDropdown__content--show {
    display: block;
}

.navigationMenuDropdown__content--open {
    opacity: 1;
    pointer-events: auto;
}

    .navigationMenuDropdown__content--open.navigationMenuDropdown__content--displayBelowAnchor {
        bottom: -11px;
    }

    .navigationMenuDropdown__content--open.navigationMenuDropdown__content--displayAboveAnchor {
        top: -15px;
    }

.navigationMenuDropdown__scrollInner {
    list-style: none;
    padding: 15px 20px 20px;
    margin: 5px 0 0;
    overflow-y: auto;
    max-height: 75vh;
}

.navigationMenuDropdown__button {
    font-size: 14px;
    color: #868686;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.navigationMenuDropdown__item > .navigationMenuDropdown__button {
    min-width: 125px;
}

.navigationMenuDropdown__button:hover,
.navigationMenuDropdown__button:visited:hover {
    color: #444;
}

.navigationMenuDropdown__button:visited {
    color: #868686;
}

.navigationMenuDropdown__button:active {
    color: #222;
}

.navigationMenuDropdown__button--selected {
    position: relative;
    padding-right: 25px;
}

    .navigationMenuDropdown__button--selected,
    .navigationMenuDropdown__button--selected:hover,
    .navigationMenuDropdown__button--selected:visited {
        color: #444;
    }

        .navigationMenuDropdown__button--selected:after {
            content: '';
            background-image: url('../images/dropdown_tick.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            width: 20px;
            height: 16px;
            position: absolute;
            right: 0;
        }

.navigationMenuDropdown__label:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    box-sizing: border-box;
    border: 6px solid transparent;
    opacity: 0;
    z-index: 10;
    transition: opacity .3s ease, top .2s ease, bottom .2s ease;
}

.navigationMenuDropdown__label--displayBelowAnchor:before {
    bottom: 13px;
    border-bottom-color: #fff;
}

.navigationMenuDropdown__label--displayAboveAnchor:before {
    top: 9px;
    border-top-color: #fff;
}

.navigationMenuDropdown__label--open:before {
    opacity: 1;
}

.navigationMenuDropdown__label--open.navigationMenuDropdown__label--displayBelowAnchor:before {
    bottom: -11px;
}

.navigationMenuDropdown__label--open.navigationMenuDropdown__label--displayAboveAnchor:before {
    top: -15px;
}

.navigationMenuDropdown__label--noContent:before {
    visibility: hidden;
}

.navigationMenuDropdown__mega {
    width: 700px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    border-radius: 3px;
    overflow: hidden;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}

.navigationMenuDropdown__item--large {
    width: 100%;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.navigationMenuDropdown__heading,
.navigationMenuDropdown__heading:visited {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 18px 17px 0;
    color: #3f4652;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
}

.navigationMenuDropdown__subitems {
    padding: 13px;
    display: block;
    white-space: pre-wrap;
}

.navigationMenuDropdown__subitem {
    display: inline-block;
    list-style: none;
    width: 50%;
}

@media only screen and (min-width: 900px) {
    .navigationMenuDropdown__mega {
        width: 850px;
    }
}

@media only screen and (min-width: 1150px) {
    .navigationMenuDropdown__mega {
        width: 1100px;
    }
}

.footer {
    font-size: 16px;
    width: 100%;
    background: #292d35;
}

.footer__header {
    font-size: 1em;
    margin-bottom: 12px;
}

.footer__wrapper {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.footer__branding,
.footer__nav {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.footer__branding {
    margin-bottom: 25px;
}

.footer__block {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 24px;
}

.footer__logo {
    display: block;
    width: 120px;
    height: 54px;
    background-image: url(../images/brand_logo_bmo.jpg);
    background-size: 100% 100%;
}

.footer__social {
    display: -ms-flexbox;
    display: flex;
}

.footer__socialItem {
    display: block;
    height: 2.25em;
    width: 2.25em;
    background: rgba(255, 255, 255, .1);
    margin-right: 5px;
}

.footer__socialIcon {
    width: 100%;
    height: 100%;
    transform: scale(.4);
}

.footer__socialIconPath {
    fill: white;
}

.footer__socialItem:hover .footer__socialIconPath {
    fill: #00c4cc;
}

.footer__socialText {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.footer__tagline {
    color: #484d56;
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 4px;
    margin-bottom: 12px;
}

.footer__copyright {
    padding-top: .75em;
    font-size: .875em;
    line-height: 1.71429em;
    color: #fff;
}

.footer__navHeading,
.footer__navHeading:visited {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
}

    .footer__navHeading:hover {
        color: #787b80;
    }

.footer__navItem,
.footer__navItem:visited {
    color: #484d56;
    display: block;
    padding-bottom: .3125em;
    text-decoration: none;
}

    .footer__navItem:hover {
        color: #fff;
    }

@media(min-width:800px) {
    .footer__wrapper {
        display: -ms-flexbox;
        display: flex;
    }

    .footer__branding {
        width: 54%;
    }

    .footer__nav {
        width: 46%;
    }
}

@media(min-width:320px) {
    .footer__nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__block {
        width: 50%;
    }
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #00c4cc;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #00c4cc;
    color: #FFF;
    text-shadow: none;
}

a {
    color: #00c4cc;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

    a:hover,
    a:focus {
        color: #006266;
    }

p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.16667em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .5em;
    font-weight: 300;
}

    h1.equalMargin {
        margin-top: .5em;
    }

h2 {
    color: #000;
    font-size: 2em;
    line-height: 1.35em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .75em;
    font-weight: 300;
}

img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
    height: auto !important;
    width: auto;
}

input {
    background-color: #fff;
    font-weight: 300;
    border: 1px solid #d0d3d5;
    color: #676d72;
    vertical-align: middle;
    margin-bottom: .75em;
    width: 100%;
    background-clip: border-box;
    text-align: left;
    letter-spacing: 1px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    transition: background-color .3s, color .3s, border .3s;
    display: inline-block;
    padding: .85714em;
    font-size: .875em;
    line-height: 1.71429em;
    border-radius: .35714em;
}

    input:focus {
        border-color: #00c4cc;
        outline: 0;
        background-color: #f8f9f9;
        box-shadow: inset 0 1px 1px rgba(0, 196, 204, .075);
    }

select.soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}


.row {
    width: 100%;
    max-width: 75em;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    position: relative;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

@media only screen and (max-width: 999px) {
    .row {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.btn {
    background-clip: border-box;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    transition: background-color .3s, color .3s, border .3s;
    display: inline-block;
    padding: 10px 3.42857em;
    font-size: .875em;
    line-height: 1.71429em;
    border-radius: .35714em;
    border: 2px solid #99c432;
    background-color: #99c432;
    color: #fff;
}

    .btn:focus,
    .btn:active {
        text-decoration: none;
        outline: none;
        border-color: #89b02d;
    }

    .btn:hover {
        background-image: none;
        background-color: #a5d92b;
    }

.btn-default:hover {
    border-color: lightgray;
    background-color: lightgray;
}

.btn-default {
    border-color: lightgray;
    background-color: lightgray;
}

#header {
    background-color: rgba(0, 0, 0, .3);
    height: 3.375em;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#banner {
    background-color: #3f4652;
    padding: 6.375em 0 3em;
    position: relative;
    text-align: center;
}

    #banner .btn {
        margin-top: 1.71429em;
    }

#main {
    padding: 1.5625em 0;
}

.bannerBackground {
    background: linear-gradient(to right, #00c4cc, #7d2ae8);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.bannerSubHeading {
    color: #fff;
    font-size: 18.4px;
    line-height: 1.27273em;
    margin: 0 auto;
    max-width: 27.27273em;
}

.categoryBlockWrapper {
    margin: 0;
    padding: .75em 0;
    background-color: #fff;
}

    .categoryBlockWrapper li {
        list-style: none;
        position: relative;
    }

        .categoryBlockWrapper li a {
            color: #3f4652;
            transition: all .3s;
            font-size: .875em;
            padding: .07143em 1.71429em;
            display: block;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            line-height: 1.85714em;
            font-weight: 400;
            position: relative;
            cursor: pointer;
        }

            .categoryBlockWrapper li a:before {
                transition: all .3s;
                content: '';
                position: absolute;
                width: calc(100% - 20px);
                height: 100%;
                top: 0;
                left: 10px;
                border-radius: 3px;
                background-color: #dedfe1;
                z-index: -1;
                opacity: 0;
                transform: scale(.95);
            }

            .categoryBlockWrapper li a:hover,
            .categoryBlockWrapper li a:focus {
                color: #292d35;
            }

                .categoryBlockWrapper li a:hover:before,
                .categoryBlockWrapper li a:focus:before {
                    opacity: 1;
                    transform: scale(1);
                }

        .categoryBlockWrapper li.current a {
            font-weight: 600;
            color: #000;
        }

.searchBox {
    background-color: #f2f2f2;
    padding: .625em;
}

    .searchBox input {
        border: 1px solid #d5d5d5;
        background-size: 16px 16px;
        background: #fff url(../images/search.svg) no-repeat calc(100% - 12px) 50%;
        padding: .71429em 2.57143em .71429em .85714em;
        margin: 0;
        font-weight: 400;
    }

.gridItem {
    margin: 0;
}

.thumbnailGridItem {
    position: relative;
    display: block;
    overflow: hidden;
}

    .thumbnailGridItem:before {
        content: '';
        z-index: 9;
        background-color: #000;
        background-color: rgba(0, 0, 0, .3);
        background: linear-gradient(transparent, rgba(0, 0, 0, .5));
        bottom: 0;
        height: 100px;
        left: 0;
        position: absolute;
        right: 0;
        transition: opacity .3s;
        opacity: 0;
    }

    .thumbnailGridItem:hover:before {
        opacity: 1;
    }

    .thumbnailGridItem:after {
        content: attr(data-label);
        z-index: 9;
        bottom: 1em;
        left: 1em;
        position: absolute;
        color: #fff;
        transition: opacity .3s, transform .3s;
        transform: translate3d(0, 10px, 0);
        opacity: 0;
        font-size: .75em;
    }

    .thumbnailGridItem:hover:after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .thumbnailGridItem img {
        width: 100%;
        position: absolute;
        top: 0;
    }

.infoGridItem {
    background-color: #fff;
    padding: .75em;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.titleGridItem {
    font-size: .8125em;
    line-height: 1.38462em;
    margin-bottom: 0;
    font-weight: 600;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .titleGridItem a {
        color: #636973;
    }

        .titleGridItem a:hover,
        .titleGridItem a:focus {
            color: #00c4cc;
        }

.categoryBlock h2 {
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 600;
    margin: .75em 1.5em .375em;
}

.categoryGridItem {
    font-size: .8125em;
    line-height: 1.38462em;
    font-weight: 300;
    margin-bottom: 0;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

    .categoryGridItem a {
        color: #979797;
    }

        .categoryGridItem a:hover,
        .categoryGridItem a:focus {
            color: #00c4cc;
        }

    .categoryGridItem h2 {
        font-size: 1em;
        line-height: 1.75em;
        font-weight: 600;
        margin: .75em 1.5em .375em;
    }

.priceGridItem {
    font-weight: 600;
    color: #505660;
    background-color: white;
    border-radius: 5px;
    font-size: .8125em;
    position: absolute;
    top: .92308em;
    right: .92308em;
    padding: .25em .75em;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .08);
}

.marketplaceHeader {
    width: 100%;
    background: linear-gradient(to right, #0079c1, #0079c1);
}

.marketplaceHeader__wrapper {
    display: -ms-flexbox;
    display: flex;
    padding-top: 6px;
    -ms-flex-align: center;
    align-items: center;
}

.marketplaceHeader__logoWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.marketplaceHeader__button {
    display: block;
    color: #000;
    font-weight: 400;
    font-size: .875em;
    text-align: center;
    line-height: 1.71429em;
    border-radius: .35714em;
    border: 2px solid #fff;
    background-color: #fff;
    background-clip: border-box;
    padding: .75em 1.5em;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}

    .marketplaceHeader__button:focus,
    .marketplaceHeader__button:active {
        border-color: #f2f2f2;
    }

    .marketplaceHeader__button:hover {
        border-color: #f2f2f2;
        background-color: #f2f2f2;
    }

.marketplaceHeader__logoGraphic {
    background: url(../images/bmo-logo.png) no-repeat center 3px / 55px;
    left: -83px;
    position: absolute;
    text-indent: -9999px;
    top: -4px;
    background-size: 110px;
    width: 300px;
    height: 45px;
}

.marketplaceHeader__logoName {
    margin-left: .75em;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
}

.marketplaceHeader__signin {
    margin-left: 1.5em;
}

.marketplaceHeader__banner {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.marketplaceHeader__bannerSubHeading {
    max-width: 27.27273em;
    margin: 0 auto;
    color: #fff;
    font-size: 18.4px;
    line-height: 1.27273em;
}

.marketplaceHeader__bannerSignupCta {
    margin: 20px 0;
    display: inline-block;
    padding: 10px 3.42857em;
}

.navigationMenu__label,
.navigationMenu__label:hover,
.navigationMenu__label:visited {
    font-size: 16px;
    font-weight: 400;
}

@media(max-width:500px) {
    .marketplaceHeader__logoWrapper {
        padding: 1em;
    }

    .navigationMenu__items {
        position: absolute;
        clip: rect(0 0 0 0);
    }
}

@media(max-width:700px) {
    .marketplaceHeader__banner {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .marketplaceHeader__flexSpace {
        display: none;
    }
}

@media(max-width:900px) {
    .navigationMenu__label, .navigationMenu__label:hover, .navigationMenu__label:visited {
        font-size: 14px;
    }

    .marketplaceHeader__logoGraphic {
        width: 18.75em;
        height: 6.75em;
        background: url(../images/bmo-mobile-logo.png) no-repeat center 3px / 1px;
        top: -3px;
        left: -105px;
        background-size: 66px;
    }

    h1 {
        font-size: 35px;
    }
}

@media(max-width:950px) {
    .marketplaceHeader__logoName {
        display: none;
    }
}

@media(max-width:1050px) {
    .marketplaceHeader__signin {
        display: none;
    }
}

body {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

    body > * {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

footer {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

    footer .content {
        background-color: #dee0e2;
        width: 100%;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    footer p.contentTitle {
        font-size: 14.4px;
        margin: 28.8px 0 14.4px;
    }

    footer p {
        font-size: 13px;
        margin-bottom: 28.8px;
    }

.pagination {
    width: 100%;
    text-align: center;
    margin-bottom: 3.125em;
    color: #636973;
}

    .pagination a,
    .page-current {
        color: #636973;
        border-radius: 5px;
        transition: all .2s;
        display: inline-block;
        line-height: 2em;
        min-width: 2em;
        padding: 0 .5em;
    }

        .pagination a:hover {
            color: #636973;
            background-color: rgba(20, 20, 20, .1);
        }

.page-current {
    border: 2px solid #636973;
    font-weight: bolder;
}

.btn.whiteBackground {
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
}

    .btn.whiteBackground:hover {
        color: #000;
        border-color: #f2f2f2;
        background-color: #f2f2f2;
    }

    .btn.whiteBackground:focus,
    .btn.whiteBackground:active {
        border-color: #f2f2f2;
    }


.articleListWrapper__imageCaption {
    position: absolute;
    text-align: center;
    color: #fff;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 1.5em;
    z-index: 9;
    transition: opacity .3s .1s, -webkit-transform .3s .1s;
    transition: opacity .3s .1s, transform .3s .1s;
    transition: opacity .3s .1s, transform .3s .1s, -webkit-transform .3s .1s;
}

.articleListWrapper__image:hover .articleListWrapper__imageCaption,
.articleListWrapper__image:focus .articleListWrapper__imageCaption {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.sharedDesignsEmptyMessage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    height: calc(35vh - 130px);
    color: #b9bcc0;
    text-align: center;
}

.sharedDesignsEmptyMessage__inner {
    margin: auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.sharedDesignsEmptyMessage__imageContainer {
    width: 150px;
    height: 150px;
    margin: -0.8em;
    /*background: no-repeat center url(../images/shared-empty-graphic.svg);*/
}

.sharedDesignsEmptyMessage__heading {
    font-size: 180%;
    font-weight: 200;
    line-height: 1.2;
    text-shadow: 1px 1px rgba(255, 255, 255, .5);
    padding-bottom: 10px;
}

.sharedDesignsEmptyMessage__content {
    display: block;
    margin: 1.2em 0;
    max-width: 35em;
    text-shadow: 1px 1px rgba(255, 255, 255, .5);
}


*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

    *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
    }


.checkboxlabel {
    float: left;
    margin: 5px 4px;
}

.checkbboxinput {
    margin-top: -40px;
    margin-left: -80px;
}

.clear {
    clear: both;
}



.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: -22px;
    }

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer:before,
    .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer:before,
    .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}


.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.modal-header .close {
    margin-top: -22px;
}
