<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="PhotoDataProvider" type="Photo.Business.DataProvider.DataProviderConfiguration, Photo.Business" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <PhotoDataProvider default="PhotoSqlDataProvider">
    <providers>
      <!-- Photo database connection settings -->
      <add name="PhotoSqlDataProvider" type="Photo.DataAccess.SQLDataProvider.PhotoSqlDataProvider, Photo.DataAccess.SQLDataProvider" />
    </providers>
  </PhotoDataProvider>
  <appSettings>
    <add key="PhotoConnectionString"  value="Data Source=localhost;Initial Catalog=photo2;Integrated Security=True" />
    <add key="Serverdomain" value="127.0.0.50" />
    <add key="Httpport" value="80" />
    <add key="Httpsport" value="443" />
    <add key="MD5SignatureKey" value="ef87c4407E1e4C469f3213De1c2F1266" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ResultsPerPage" value="50" />
    <add key="MaximumPagesCount" value="9" />
    <add key="PagingPageLinks" value="9" />
    <add key="DocumentStorageLocation" value="C:\Photo\Data\" />
    <add key="DocumentVirtualDirectory" value="/Data/" />
    <add key="Target" value="Development" />
    <add key="AppUrl" value="http://localhost/CartoonKart" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PhotoHttpModule" type="Module.PhotoHttpModule" />
    </modules>
    <handlers>
      <remove name="svc-Integrated"/>
      <remove name="svc-Integrated-4.0"/>
      <remove name="WebDAV"/>
      <remove name="UrlRoutingHandler"/>
      <remove name="WildCard"/>
      <remove name="WildCard32"/>
      <add verb="*" path="Product/*.aspx" type="SEMHandler" name="HandlerForSEM_Default1" />
      <add verb="*" path="Products/*.aspx" type="SEMHandler" name="HandlerForSEM_Default2"/>
      <add verb="*" path="Products/Default.aspx" type="SEMHandler" name="HandlerForSEM_Default3"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
      <mimeMap fileExtension="." mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="8120" />
    <compilation debug="true" targetFramework="4.6.1" />
    <customErrors mode="Off" defaultRedirect="/Error.aspx">
      <error statusCode="403" redirect="/Error.aspx" />
      <error statusCode="404" redirect="/Error.aspx" />
      <error statusCode="408" redirect="/Error.aspx" />
      <error statusCode="500" redirect="/Error.aspx" />
    </customErrors>
  </system.web>
  <location path=".">
    <system.web>
      <authentication mode="Forms">
        <forms name=".ASPNETPLUS" loginUrl="~/LogIn.aspx" defaultUrl="~/Business/Default.aspx" protection="All" timeout="14400" path="/"/>
      </authentication>
      <authorization>
        <allow users="*"/>
      </authorization>
      <!--RoleProvider configuration-->
      <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="PhotoRoleProvider">
        <providers>
          <clear/>
          <!--Photo Security RoleProvider configuration-->
          <add applicationName="/" name="PhotoRoleProvider" type="Photo.Business.Entities.Security.PhotoRoleProvider"/>
        </providers>
      </roleManager>
      <!--MembershipProvider configuration-->
      <membership defaultProvider="PhotoMembershipProvider">
        <providers>
          <clear/>
          <!--Photo Security MembershipProvider configuration-->
          <add enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" passwordAttemptWindow="60" passwordStrengthRegularExpression="" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" name="PhotoMembershipProvider" type="Photo.Business.Entities.Security.PhotoMembershipProvider"/>
        </providers>
      </membership>
      <pages clientIDMode="AutoID"/>
    </system.web>
  </location>
  <location path="Business">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--Logging configuration-->
  <log4net>
    <appender name="ApplicationAppender" type="log4net.Appender.RollingFileAppender">
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100MB" />
      <file value="..\\logs\\Application\\log" />
      <rollingStyle value="Composite" />
      <countDirection value="0" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="PlusAuditTrailTransactionAppender" type="log4net.Appender.RollingFileAppender">
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100MB" />
      <file value="..\\logs\\PlusAuditTrail\\log" />
      <rollingStyle value="Composite" />
      <countDirection value="0" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <logger name="Application">
      <level value="All" />
      <appender-ref ref="ApplicationAppender" />
    </logger>
    <logger name="PlusAuditTrail">
      <level value="All" />
      <appender-ref ref="PlusAuditTrailTransactionAppender" />
    </logger>
  </log4net>
</configuration>